---
import MainLayout from '../layouts/MainLayout.astro';
import { Content as ArtistPage } from '../content/artist.md';
---

<MainLayout>
	<section class="pt-32 pb-20">
		<div class="container-custom">
			<div class="max-w-2xl mx-auto text-center mb-16">
				<h1 class="text-4xl md:text-5xl font-bold mb-4">Artistic Practice</h1>
				<div class="prose text-gray-700 mb-6 text-left indent-8">
					<ArtistPage />
				</div>
			</div>
		</div>
	</section></MainLayout
>
