---
import LinkButton from './LinkButton.astro';
---

<div class="absolute left-0 right-0 z-0">
	<div class="text-center mb-12 relative z-10">
		<h1 class="text-3xl md:text-4xl lg:text-5xl font-bold leading-tight">Maya del Campo</h1>
		<p class="mt-4 text-base md:text-lg text-gray-700">
			I have no other intention but to share the beauty I can sense.
		</p>
		<p>Could it be the most direct and human way to heal, to connect, to change?</p>
		<LinkButton link="collections">View Gallery</LinkButton>
	</div>
</div>
